@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.btn{
    border: 1px solid black;
    padding: 3px 6px;
}
#login-out{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}