<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test fetch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/fetchKommuner.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">Smitte niveau</a>

    <!-- Links -->
    <ul class="navbar-nav nav" style="float:left;">
        <li class="nav-item">
            <a class="nav-link" href="#">Sogne</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fetch">Fetch kommuner</a>
        </li>
    </ul>

</nav>

<span id="progess">Henter alle kommuner fra dataforsyningen</span>


</body>
</html>